{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="center">About</h1>
  <p class="centre">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ducimus itaque ab eligendi alias dignissimos 
    consectetur corporis dolores, fugit reprehenderit in nulla, repellat beatae laudantium sequi ullam nemo quidem quasi.
     Amet sed atque cum suscipit necessitatibus dolorum excepturi autem aut quasi, impedit, possimus reprehenderit sequi 
    tempore maiores molestias laborum laboriosam dolores. Odio molestias a sequi mollitia numquam minus maiores dolor quo 
    cupiditate sit cum facere minima sint deleniti et debitis quasi nostrum reprehenderit nam consequuntur pariatur, natus illo
    ullam architecto. In sint praesentium ratione. Tempore, excepturi. Assumenda dolorum, molestiae a at fugit voluptate 
    voluptatum tempora harum amet quos maiores deserunt, alias commodi? Sit itaque distinctio dolor aliquid numquam fuga totam 
    deleniti voluptatibus similique? Quam assumenda vel animi qui quo, itaque, veritatis perferendis odio doloribus cum 
    architecto earum molestias odit et? Qui, esse ratione, impedit repellendus ipsam aliquid voluptatibus ducimus nisi autem 
    enim dicta. Odit perspiciatis incidunt saepe, ipsa illo quis, quod harum earum ullam nulla deleniti expedita sunt totam 
    temporibus, ipsum nobis provident quia fugit minima. Officia quae reprehenderit ducimus, nihil tempora saepe. Nemo laboriosam 
    quae temporibus, magnam minima in suscipit est quaerat ratione sit praesentium accusantium dolorem hic at iure nisi. 
    At maiores incidunt consequatur labore perspiciatis, aperiam rerum.</p>
</div>

{% endblock content %}